/* General */
body {
    background-color: #ffffff;
    transition: background-color 0.5s ease;
}
#main-header {
    background-color: #c4001d;
}
.nav-list {
    list-style-type: none; 
  }
#main-footer {
    background-color: #c4001d;
}
.night-theme {
    background-color: #333; /* Dark background */
    color: #fff;           /* White text */
  }
  
  /* .night-theme .navbar, .night-theme .footer {
    background-color: #222;
    color: white;
  } */
  
  .night-theme a {
    color: #ddd;
  }
  
  .night-theme a:hover {
    color: #fff;
  }
  
  /* Change the toggle button background in night mode */
  #themeToggle.btn-dark {
    background-color: black;
  }
  .star {
    cursor: pointer;
    font-size: 24px;
    color: gray;
}

.star.selected {
    color: gold;
}
.step {
  display: none;
}
.step.active {
  display: block;
}
/* Ripple effect */
.btn {
  position: relative;
  overflow: hidden;
  transition: transform 0.2s ease-in-out;
}

/* Shadow and scale effect on hover */
.btn:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Ripple animation */
.btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0);
  opacity: 0;
  transition: transform 0.4s, opacity 0.8s;
  border-radius: 50%;
}

.btn:active::after {
  transform: scale(2.5);
  opacity: 0;
}

/* Optional icon rotation effect on hover */
.btn-icon:hover i {
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}
.image-container img {
  width: 100%;
  max-width: 800px;
  height: auto;
  margin-top: 20px;
}